# Default ignored files
/shelf/
/.idea/workspace.xml
# CodeStream ignored files
/../../contact-manager\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\Idea Projects\contact-manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
